@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
  }
  html {
    font-family: Montserrat, sans-serif;
  }
}

.utxo-markdown ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.utxo-markdown ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.utxo-markdown h1 {
  font-size: 1.25rem; /* 18px */
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 0.7em;
}

.utxo-markdown h2 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.utxo-markdown h3 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 600;
  line-height: 1.75rem;
  padding-bottom: 0.5em;
}

.utxo-markdown hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
